<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fugaz+One&family=Jura:wght@700&family=Nosifer&family=Nunito:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Bingr | Friends</title>
</head>
<body>
    <h1>Bingr</h1>
    <header>
        <nav class="navBar">
            <a class="navItem" href="/dashboard">Home</a>
            <a class="navItem" href="/movies">Movies</a>
            <a class="navItem" href="/shows">Shows</a>
            <a class="navItem" href="/friends/new">Add a Friend</a>
            <a class="navItem" href="/logout">Logout</a>
        </nav>
    </header>
    <div id="friendContainer">
        <h3 id="friendWelcome"><%=user.username%>'s Friends </h3>
        <div id="friendlistContainer">
        <% user.friends.forEach(friend => { %>
            <div class="friend-flex-item">
                <p class="friend-item-title"><%=friend.username%></p>
                <a class="friend-atag" href="/friends/<%= friend.friend_id %>/shows">Shows</a>
                <a class="friend-atag" href="/friends/<%= friend.friend_id %>/movies">Movies</a>
            </div>
            <% }) %>
        </div>
    </div>
    <footer>
        <p>Copyright &copy; All Rights Reserved || 2021 Bingr</p>
        <p>Ross Konesky</p>
    </footer>
</body>
</html>