<!DOCTYPE html>
<html lang="en" id="htmlhome">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fugaz+One&family=Jura:wght@700&family=Nosifer&family=Nunito:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Bingr | Home</title>
</head>
<body>
    <h1>Bingr</h1>
    <header>
        <nav class="navBar">
            <a class="navItem" href="/login">Login</a>
            <a class="navItem" href="/signup">Signup</a>
        </nav>
    </header>
    <main class="homeMain">
        <div id="homeFormContainer">
            <div id="homeTitle">
                Log in to your Library or Sign up for Bingr!
            </div>
            <div id="homeContentContainer">
                <p>Existing User? <a href="/login">Login</a></p>
                <p>New User? <a href="/signup">Signup</a></p>
            </div>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; All Rights Reserved || 2021 Bingr</p>
        <p>Ross Konesky</p>
    </footer>
</body>
</html>