<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fugaz+One&family=Jura:wght@700&family=Nosifer&family=Nunito:wght@300&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/favicon.ico">
    <title>Bingr | Signup</title>
</head>
<body>
    <h1>Bingr</h1>
    <header>
        <nav class="navBar">
            <a class="navItem" href="/">Home</a>
            <a class="navItem" href="/login">Login</a>
            <a class="navItem" href="/logout">Logout</a>
        </nav>
    </header>
    <form class="signupForm" action="/signup" method="POST">
        <div class="signupContainer">
            <label class="signupLabel" for="username"><b>Username:</b></label>
            <input class="signupInput" type="text" placeholder="Enter Name" name="username">
            <label class="signupLabel" for="email"><b>Email:</b></label>
            <input class="signupInput" type="email" placeholder="Enter Email" name="email">
            <label class="signupLabel" for="password"><b>Password:</b></label>
            <input class="signupInput" type="password" placeholder="Enter Password" name="password">
            <button class="signupButton" type="submit">Signup</button>
        </div>
    </form>
    <footer>
        <p>Copyright &copy; All Rights Reserved || 2021 Bingr</p>
        <p>Ross Konesky</p>
    </footer>
</body>
</html>