<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingr | Please Signup</title>
</head>
<body>
    <h1>Ready to Binge?! Please Sign Up</h1>
    <form action="/signup" method="POST">
        <label>
            First Name:
            <input type="text" name="name">
        </label>
        <label>
            Email:
            <input type="email" name="email">
        </label>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <input type="submit" value="Signup">
    </form>
</body>
</html>